#button1, #button2 {
    /*position: absolute;*/
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    margin-top: 5px;
  }

#button1:hover, #button2:hover {
    background-color:#819eee;
}


div {
    background-color: grey; 
    width: 20%;
    padding: 10px;
   }

label {
    color: white;
    font-weight: bold;
    width: 300px;
    float: left;
  }

input {
  width: 50%;
}
